# Dependencias
node_modules/
package-lock.json
yarn.lock

# Build
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Secrets
*.pem
*.key
secret*
secrets/

# Temp files
*.tmp
.cache/

# Test results
test-results/

# Backups
*.backup
